# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.whl
*.manifest
*.spec
*.lock

# GIS
*.geojson
*.shp
*.shx
*.dbf
*.prj
*.sbn
*.sbx
*.fbn
*.fbx
*.ain
*.aih
*.ixs
*.mxs
*.atx
*.shp.xml
*.cpg
*.qix
*.qpj
*.gdb
*.gdbtable
*.gdbtablx
*.gdbindexes
*.gdbconfig
*.gdbtablex
*.gdbtablx
*.gdbindexes
*.gdbconfig
*.gdbtablex